body {
  background-color: black;
  background-image: url("../fotos/wallpaper3.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:lightgrey;
}

#titulo{
	text-align: center;
	font-size: 5em; 
	color:lightgrey;
	margin-top: 10%;
	font-family: 'JetBrains Mono', monospace;

}
section#seccion-principal{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10%;
	color: lightgrey;
	font-family: 'JetBrains Mono', monospace;
	text-align: center;
}

h2#txtquiensoy{
	padding-top: 4%;
	padding-left:15%;
	padding-right: 15%;
	font-size: 1.4em;
}

.imgFloatL{
	width: 10%;
	float: left;
	padding-left: 15%;
}

.txtDescripcion{
	padding-top: 3%;
	padding-right: 15%;
	padding-left:30%;
	font-size: 1.2em;
}

.btn{
	font-size: 18px;
	margin:50px;
	width:50px;
	height:50px;
	border:none;
}

#titulo{
	font-size:64px;
}

#texto{
	font-size:24px;
}

input[type=submit]{
	color:red;
}

@media screen and (max-width: 1260px){
	.imgFloatL{
		width: 15%;
		float: left;
		padding-left: 10%;
	}
	.txtDescripcion{
		padding-top: 0%;
		padding-right: 8%;
		padding-left:28%;
		font-size: 24px;
	}
}

@media screen and (max-width: 1080px){
	.imgFloatL{
		width: 30%;
		float: none;
		padding-left: 0;
	}
	.txtDescripcion{
		padding-top: 60px;
		padding-right: 15%;
		padding-left:15%;
		font-size: 24px;
	}
}